.segment1{
    height:auto;
    width:auto;
    background-color:chocolate;
}
.segment2{
    height:auto;
    width:auto;
    background-color:bisque;
}
.segment3{
    height:auto;
    width:auto;
    background-color:whitesmoke;
}
.div{
    height:auto;
    width:auto;
    background-color:bisque;
}

